<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="<%= config_reader.asset_path %>">Altamira</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <% if @edf %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= config_reader.url %>/datasets/<%= params['slug'] %>/files/<%= @access_hash['path'].split(File.basename(@edf.filename)).first %>?f=<%= File.basename(@edf.filename) %>" target="_blank"><%= File.basename(@edf.filename) %></a>
          </li>
          <% def time_label(window) window >= 60 ? "#{window / 60}m" : "#{window}s" end %>

          <li class="nav-item dropdown d-none d-lg-block">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" href="#">
              <% label = time_label(@window) %>
              <%= label %> Window
            </a>
            <div class="dropdown-menu dropdown-menu-custom">
              <div class="dropdown-menu-custom-inner">
                <% [5, 15, 30, 60, 120, 300].each do |window| %>
                  <% label = time_label(window) %>
                  <a class="dropdown-item" href="<%= env["SCRIPT_NAME"] %>?slug=<%= params["slug"] %>&path=<%= params["path"] %><%= "&window=#{window}" if window != 30 %><%= "&signal=#{params["signal"]}" if params["signal"].to_s.strip != '' %>&page=<%= ((@page - 1) * @samples_per_page / window) + 1 %><%= "&auto=#{params["auto"]}" if params["auto"].to_s.strip != '' %>"><%= label %></a>
                <% end %>
              </div>
            </div>
          </li>

          <li class="nav-item<%= " disabled" if @page == 1 %>"><a class="nav-link" href="<%= env["SCRIPT_NAME"] %>?slug=<%= params["slug"] %>&path=<%= params["path"] %><%= "&window=#{@window}" if @window.to_s.strip != '' and @window.to_s.strip != '30' %><%= "&signal=#{params["signal"]}" if params["signal"].to_s.strip != '' %>&page=<%= [@page - 1, 1].max %><%= "&auto=#{params["auto"]}" if params["auto"].to_s.strip != '' %>" id="retreat">&larr; Retreat</a></li>
          <li class="nav-item<%= " disabled" if @page == @max_page %>"><a class="nav-link" href="<%= env["SCRIPT_NAME"] %>?slug=<%= params["slug"] %>&path=<%= params["path"] %><%= "&window=#{@window}" if @window.to_s.strip != '' and @window.to_s.strip != '30' %><%= "&signal=#{params["signal"]}" if params["signal"].to_s.strip != '' %>&page=<%= [@page + 1, @max_page].min %><%= "&auto=#{params["auto"]}" if params["auto"].to_s.strip != '' %>" id="advance">Advance &rarr;</a></li>
          <li class="nav-item<%= " disabled" if @page == @max_page %>"><a class="nav-link" href="<%= env["SCRIPT_NAME"] %>?slug=<%= params["slug"] %>&path=<%= params["path"] %><%= "&window=#{@window}" if @window.to_s.strip != '' and @window.to_s.strip != '30' %><%= "&signal=#{params["signal"]}" if params["signal"].to_s.strip != '' %>&page=<%= @page %><%= params["auto"].to_s.strip != '' ? '' : '&auto=.' %>" id="advance">Turn Auto Scale <%= params["auto"].to_s.strip != '' ? 'Off' : 'On' %></a></li>
          <li class="nav-item" style="display: none;"><a class="nav-link" href="<%= env["SCRIPT_NAME"] %>?slug=<%= params["slug"] %>&path=<%= params["path"] %><%= "&window=#{@window}" if @window.to_s.strip != '' and @window.to_s.strip != '30' %><%= "&signal=#{params["signal"]}" if params["signal"].to_s.strip != '' %><%= "&auto=#{params["auto"]}" if params["auto"].to_s.strip != '' %>&page=<%= @page %>" id="hypnogram-link"></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
