<% if @edf %>
  <% @signal_height = (@params['signal'].to_i >= 1 ? @params['signal'].to_i : 50) %>
  <% @signal_padding = 20 %>
  <% @edf.signals.each do |signal| %>
    <div  data-object="signal-data"
          data-array="<%= (signal.physical_values || []).collect{|i| i.to_f.round(2)} %>"
          data-label="<%= signal.label %>"
          data-samples-per-data-record="<%= signal.samples_per_data_record %>"
          data-physical-maximum="<%= signal.physical_maximum %>"
          data-physical-minimum="<%= signal.physical_minimum %>"></div>
  <% end %>
  <% @signal_count = @edf.signals.count %>

  <% @staging_file = @edf_name.gsub(/\.edf$/, '-staging.csv') %>
  <% if File.exist?(@staging_file) %>
    <% stages = [] %>
    <% File.open(@staging_file, "r") do |f| %>
      <% index = -1 %>
      <% f.each_line do |line| %>
        <% index += 1 %>
        <% next if index == 0 %>
        <% stages << line.split(',')[1].to_i %>
      <% end %>
    <% end %>
    <div data-object="signal-data"
        data-array="<%= stages %>"
        data-label="Sleep Stages"
        data-samples-per-data-record="<%= stages.size / @samples_per_page %>"
        data-physical-maximum="<%= stages.max %>"
        data-physical-minimum="<%= stages.min %>"></div>
    <% @signal_count += 1 %>
  <% end %>

  <canvas id="myCanvas" width="1200" height="<%= @signal_padding + @signal_count * (@signal_height + @signal_padding) %>" data-samples-per-page="<%= @samples_per_page %>" data-signal-height="<%= @signal_height %>" data-signal-padding="<%= @signal_padding %>"></canvas>
<% else %>
  <canvas id="myCanvas" width="1200" height="960" data-samples-per-page="<%= @samples_per_page %>" data-signal-height="1"></canvas>
<% end %>

<% if @edf %>
  <table class="table table-striped"><col width="250px"/>
    <tr><th colspan="2">General</th></tr>
    <tr><td>First Epoch</td><td><a href="<%= env["SCRIPT_NAME"] %>?name=<%= @params["name"] %>&window=<%= @samples_per_page %>&signal=<%= @params["signal"] %>&page=1">1</a></td></tr>
    <tr><td>Current Epoch</td><td><a href="<%= env["SCRIPT_NAME"] %>?name=<%= @params["name"] %>&window=<%= @samples_per_page %>&signal=<%= @params["signal"] %>&page=<%= @page %>"><%= @page %></a></td></tr>
    <tr><td>Last Epoch</td><td><a href="<%= env["SCRIPT_NAME"] %>?name=<%= @params["name"] %>&window=<%= @samples_per_page %>&signal=<%= @params["signal"] %>&page=<%= @max_page %>"><%= @max_page %></a></td></tr>
    <th colspan="2">EDF Header</th>
    <tr><td>Version</td><td><%= @edf.version %></td></tr>
    <% if false %>
      <tr><td>Local Patient Identification</td><td><%= @edf.local_patient_identification %></td></tr>
      <tr><td>Local Recording Identification</td><td><%= @edf.local_recording_identification %></td></tr>
    <% end %>
    <tr><td>Start Date of Recording</td><td><%= @edf.start_date_of_recording %> (dd.mm.yy)</td></tr>
    <tr><td>Start Time of Recording</td><td><%= @edf.start_time_of_recording %> (hh.mm.ss)</td></tr>
    <tr><td>Number of Bytes in Header</td><td><%= @edf.number_of_bytes_in_header %></td></tr>
    <% if false %>
    <tr><td>Reserved</td><td><%= @edf.reserved %></td></tr>
    <% end %>
    <tr><td>Number of Data Records</td><td><%= @edf.number_of_data_records %></td></tr>
    <tr><td>Duration of a Data Record</td><td><%= @edf.duration_of_a_data_record %> second<%= 's' if @edf.duration_of_a_data_record != 1 %></td></tr>
    <tr><th colspan="2">Signal Header</th></tr>
    <tr><td>Number of Signals</td><td><%= @edf.signals.count %></td></tr>
    <% @edf.signals.each do |signal| %>
      <tr><th colspan="2"><%= signal.label %></th></tr>
      <tr><td>Transducer Type</td><td><%= signal.transducer_type %></td></tr>
      <tr><td>Physical Dimension</td><td><%= signal.physical_dimension %></td></tr>
      <tr><td>Physical Minimum</td><td><%= signal.physical_minimum %></td></tr>
      <tr><td>Physical Maximum</td><td><%= signal.physical_maximum %></td></tr>
      <tr><td>Digital Minimum</td><td><%= signal.digital_minimum %></td></tr>
      <tr><td>Digital Maximum</td><td><%= signal.digital_maximum %></td></tr>
      <tr><td>Prefiltering</td><td><%= signal.prefiltering %></td></tr>
      <tr><td>Samples Per Data Record</td><td><%= signal.samples_per_data_record %></td></tr>
      <% if false %><tr><td>Reserved Area</td><td><%= signal.reserved_area %></td></tr><% end %>

    <% end %>
  </table>
<% end %>
