<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>Altamira</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="<%= config_reader.asset_path %>/assets/application.js"></script>

    <style type="text/css">
      .page-box {
        min-height: calc(100vh - 57px - 100px);
      }
    </style>
  </head>
  <body>
    <div style="display: none;">
      <p>CONFIG URL: <%= config_reader.url %></p>
      <p><%= @access_hash.inspect %></p>
    </div>

    <input type="hidden" id="epoch_number" name="epoch_number" value="<%= @epoch_number %>">
    <input type="hidden" id="epoch_window" name="epoch_window" value="<%= @epoch_window %>">
    <input type="hidden" id="color" name="color" value="<%= params["color"] %>">
    <input type="hidden" id="grid" name="grid" value="<%= params["grid"] %>">
    <input type="hidden" id="fast" name="fast" value="<%= params["fast"] %>">

    <% @start_time = Time.now %>

    <%= ERB.new(IO.read("views/_header.html.erb"), nil, nil, "_erbout2").result(binding) %>
    <div class="d-flex align-items-center justify-content-around page-box">
      <div class="container-fluid">
        <% if @edf %>
          <%= ERB.new(IO.read("views/_hypnogram.html.erb"), nil, nil, "_erbout3").result(binding) %>
          <%= ERB.new(IO.read("views/_signals.html.erb"), nil, nil, "_erbout4").result(binding) %>
        <% else %>
          <%= ERB.new(IO.read("views/_no_access.html.erb"), nil, nil, "_erbout5").result(binding) %>
        <% end %>
      </div>
    </div>
    <footer class="text-muted text-center">
      Altamira <a href="https://github.com/nsrr/altamira" target="_blank">v<%= Altamira::VERSION::STRING %></a>
      &middot; Server: <%= ((Time.now - @start_time) * 1000).floor %> ms <span id="drawing-time"></span>
    </footer>
  </body>
</html>
