<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Altamira</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="<%= env["SCRIPT_NAME"] %>/assets/application.js"></script>

    <style type="text/css">
      body, input, button, select, textarea, .navbar-search .search-query {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body style="margin-top:51px;">
    <% req = Rack::Request.new(env) %>
    <% @params = req.params %>

    <% @edf_name = @edf_names.select{|edf_name| File.basename(edf_name) == @params['name'].to_s.strip}.first ? @edf_names.select{|edf_name| File.basename(edf_name) == @params['name'].to_s.strip}.first : @edf_names.first %>
    <% @edf = Edfize::Edf.new(@edf_name) if @edf_name %>

    <% @page = (@params["page"].to_i > 1 ? @params["page"].to_i : 1 ) %>
    <%# Default Window Size should equal 30 second increments %>
    <% @default_window_size = (@params["window"].to_i > 0 ? @params["window"].to_i : 30) %>
    <% @samples_per_page = @default_window_size %>

    <% @epoch_number = @page %>
    <% @epoch_window = @default_window_size %>

    <input type="hidden" id="epoch_number" name="epoch_number" value="<%= @epoch_number %>">
    <input type="hidden" id="epoch_window" name="epoch_window" value="<%= @epoch_window %>">
    <input type="hidden" id="color" name="color" value="<%= @params["color"] %>">
    <input type="hidden" id="grid" name="grid" value="<%= @params["grid"] %>">
    <input type="hidden" id="fast" name="fast" value="<%= @params["fast"] %>">

    <% @start_time = Time.now %>
    <% if @edf %>
      <% @samples_per_page = @default_window_size / @edf.duration_of_a_data_record %> <%# 30 second per page / 1 second per sample = 30 samples per page %><br />

      <% @max_page = [(@edf.number_of_data_records * 1.0 / @samples_per_page).ceil, 1].max %>
      <% @page = [@page, @max_page].min %>

      <% @edf.load_epoch(@page-1,@samples_per_page) if @edf %>
    <% end %>

    <%= ERB.new(IO.read('views/_header.html.erb'), nil, nil, '_erbout2').result(binding) %>
    <div class="container-fluid" style="margin-top:20px;margin-bottom:20px">
      <%= ERB.new(IO.read('views/_signals.html.erb'), nil, nil, '_erbout3').result(binding) %>
      <footer class="text-muted" style="text-align:center">
        Altamira <a href="https://github.com/nsrr/altamira" target="_blank">v<%= Altamira::VERSION::STRING %></a>
        &middot; Server: <%= ((Time.now - @start_time) * 1000).floor %> ms &middot; <span id="drawing_time"></span>
      </footer>
    </div>
  </body>
</html>
