<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>Altamira</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="<%= config_reader.asset_path %>/assets/application.js"></script>

    <style type="text/css">
      body, input, button, select, textarea, .navbar-search .search-query {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body style="margin-top:51px;">
    <div style="display:none">
      <p>CONFIG URL: <%= config_reader.url %></p>
      <p><%= @access_hash.inspect %></p>
    </div>

    <input type="hidden" id="epoch_number" name="epoch_number" value="<%= @epoch_number %>">
    <input type="hidden" id="epoch_window" name="epoch_window" value="<%= @epoch_window %>">
    <input type="hidden" id="color" name="color" value="<%= params["color"] %>">
    <input type="hidden" id="grid" name="grid" value="<%= params["grid"] %>">
    <input type="hidden" id="fast" name="fast" value="<%= params["fast"] %>">

    <% @start_time = Time.now %>

    <%= ERB.new(IO.read('views/_header.html.erb'), nil, nil, '_erbout2').result(binding) %>
    <div class="container-fluid" style="margin-top:20px;margin-bottom:20px">
      <% if @edf %>
        <%= ERB.new(IO.read('views/_hypnogram.html.erb'), nil, nil, '_erbout3').result(binding) %>
        <%= ERB.new(IO.read('views/_signals.html.erb'), nil, nil, '_erbout4').result(binding) %>
      <% else %>
        <%= ERB.new(IO.read('views/_no_access.html.erb'), nil, nil, '_erbout5').result(binding) %>
      <% end %>

      <footer class="text-muted" style="text-align:center">
        Altamira <a href="https://github.com/nsrr/altamira" target="_blank">v<%= Altamira::VERSION::STRING %></a>
        &middot; Server: <%= ((Time.now - @start_time) * 1000).floor %> ms <span id="drawing-time"></span>
      </footer>
    </div>
  </body>
</html>
